
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>To Doob</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat120.cur), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2006/02/19/nat120.html" target="_blank" title="Weed - Marijuana"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Weed - Marijuana" style="position:absolute; top: 0px; right: 0px;" /></a>
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
</body>
</html>